{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": ["warn", "always"],
    "quotes": ["warn", "single"],
    "react/prefer-stateless-function": [1]
  }
}
